<div class="web_nav">
  <%= image_tag 'tech_info.png', class: 'logo' %>
  <ul>
    <li><%= link_to 'Home' , root_url %></li>
    <li><%= link_to'About', '/about-us'%></li>
    <li><%= link_to'Services', '/services'%></li>
    <li><%= link_to'Contact Us', '/contact-us'%></li>
  </ul>
</div>
