<p>
  <h3>You have a new contact request!</h3>

  <p>
    Submitted details:

    <ul>
      <li>
        Name: <%= @user.name %>
      </li>
      <li>
        E-mail: <%= @user.email %>
      </li>
      <li>
        Contact Number: <%= @user.contact_number %>
      </li>
      <li>
        Message: <%= @user.message %>
      </li>
    </ul>

    You can view all requests <%= link_to 'here', contact_requests_url %>.
  </p>
</p>
