<div class="static_page services">
  <div class="container about">
    <div class="services-header">
      <h1 class="page_title">
        <span class="icon_tech_info"></span>
        Technophile Infotech
      </h1>
      <h3>your one stop destination for all <span class="bold">IT solutions</span></h3>

      <h2 class="title">services</h2>
    </div>

    <div class="row">
      <div class="col-xs-12  col-md-12 row">
        <div class="col-md-6 page-box page-box--block">
          <%= image_tag 'demo/content/content_1.png', alt: 'Technophile Infotech', width: '360px', height: '240px' %>
          <div class="page-box__content">
            <h3 class="page-box__title  text-uppercase">
              Deals in IT Hardware
            </h3>
            <ul style="list-style: none;">
              <li>
                Servers – All brands
              </li>
              <li>
                Backup Devices
              </li>
              <li>
                Desktops – All brands
              </li>
              <li>
                Laptops – All brands
              </li>
              <li>
                Switches – Cisco and D-Links
              </li>
              <li>
                Routers – Cisco
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 page-box page-box--block">
          <%= image_tag 'demo/content/content_2.jpg', alt: 'Technophile Infotech', width: '360px', height: '240px' %>
          <div class="page-box__content">
            <h3 class="page-box__title text-uppercase">
              Deals in IT Software
            </h3><ul style="list-style: none;">
              <li>
                Microsoft Windows Software
              </li>
              <li>
                Linux
              </li>
              <li>
                Oracle
              </li>
              <li>
                SQL
              </li>
              <li>
                Backup Storage
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12  col-md-12 row">
        <div class="col-md-6 page-box page-box--block">
          <%= image_tag 'demo/content/content_4.jpg', alt: 'Technophile Infotech', width: '360px', height: '240px' %>
          <div class="page-box__content">
            <h3 class="page-box__title text-uppercase">
              Deals in IT Services
            </h3>
            <ul style="list-style: none;">
              <li>
                FMS- Facility Management Service
              </li>
              <li>
                AMC- Annual Maintenance Contract
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 page-box page-box--block">
          <%= image_tag 'demo/content/cctv-4.jpg', alt: 'Technophile Infotech', width: '360px', height: '240px' %>
          <div class="page-box__content">
            <h3 class="page-box__title text-uppercase">
              Deals in Trunky Projects
            </h3>
            <ul style="list-style: none;">
              <li>
                Office Networking
              </li>
              <li>
                Access Control
              </li>
              <li>
                CCTVs
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render partial: 'share/footer' %>
</div>
