<tbody>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.contact_number %></td>
    <td><%= user.message %></td>
    <td><%= user.created_at.strftime("%d-%m-%Y") %></td>
  </tr>
</tbody>
